.elementor-19 .elementor-element.elementor-element-260a401{padding:100px 35px 135px 35px;}.elementor-19 .elementor-element.elementor-element-dca3cd5 > .elementor-widget-container{margin:0px 0px -7px 0px;}.elementor-19 .elementor-element.elementor-element-2686860{color:#444444;font-family:"Ubuntu", Sans-serif;font-size:16px;font-weight:300;line-height:1.5em;max-width:91%;}.elementor-19 .elementor-element.elementor-element-9f931b3 .elementor-heading-title{color:#444444;font-family:"Quicksand", Sans-serif;font-size:23px;font-weight:bold;line-height:1.2em;}.elementor-19 .elementor-element.elementor-element-9f931b3 > .elementor-widget-container{padding:0px 0px 23px 0px;}.elementor-19 .elementor-element.elementor-element-cfbcf9f .aux-icon-list-item, .elementor-19 .elementor-element.elementor-element-cfbcf9f .aux-icon-list-items{justify-content:center;text-align:center;}.elementor-19 .elementor-element.elementor-element-cfbcf9f .aux-icon-list-item:hover .aux-icon-list-text{color:#00D9A6;}.elementor-19 .elementor-element.elementor-element-cfbcf9f .aux-icon-list-text{font-family:"Ubuntu", Sans-serif;font-size:16px;font-weight:300;line-height:1.5em;margin:0px 0px 3px 0px;}.elementor-19 .elementor-element.elementor-element-cfbcf9f .aux-icon-list-icon{color:#24af29;}.elementor-19 .elementor-element.elementor-element-d997c45 .aux-modern-heading-primary{font-family:"Quicksand", Sans-serif;font-size:23px;font-weight:bold;line-height:1.5em;margin:0px 0px 0px 0px;padding:0px 0px 17px 0px;}.elementor-19 .elementor-element.elementor-element-d997c45 .aux-modern-heading-secondary{font-family:"Ubuntu", Sans-serif;font-size:16px;font-weight:300;line-height:1.5em;color:#444444;margin:36px 0px 0px 0px;max-width:300px;}.elementor-19 .elementor-element.elementor-element-d997c45 .aux-modern-heading-description{color:#444444;font-family:"Ubuntu", Sans-serif;font-size:16px;font-weight:300;line-height:1.5em;margin:30px 0px -42px 0px;}.elementor-19 .elementor-element.elementor-element-fd891cb{color:#444444;font-family:"Ubuntu", Sans-serif;font-size:16px;font-weight:300;line-height:1.5em;}.elementor-19 .elementor-element.elementor-element-fd891cb > .elementor-widget-container{margin:14px 0px 0px 0px;}.elementor-19 .elementor-element.elementor-element-38e644a .elementor-heading-title{color:#444444;font-family:"Quicksand", Sans-serif;font-size:23px;font-weight:bold;line-height:1.2em;}.elementor-19 .elementor-element.elementor-element-38e644a > .elementor-widget-container{padding:0px 0px 23px 0px;}.elementor-19 .elementor-element.elementor-element-a200e13 > .elementor-widget-container{margin:16px 0px 0px 0px;}.elementor-19 .elementor-element.elementor-element-92d8479:not(.elementor-motion-effects-element-type-background), .elementor-19 .elementor-element.elementor-element-92d8479 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(285deg, #0C0C0C 0%, #474747 100%);}.elementor-19 .elementor-element.elementor-element-92d8479{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:34px 35px 38px 35px;}.elementor-19 .elementor-element.elementor-element-92d8479 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-19 .elementor-element.elementor-element-51be347.elementor-column .elementor-column-wrap{align-items:center;}.elementor-19 .elementor-element.elementor-element-51be347.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-19 .elementor-element.elementor-element-51be347.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:space-between;}.elementor-19 .elementor-element.elementor-element-394b05c{color:rgba(255, 255, 255, 0.5);font-family:"Ubuntu", Sans-serif;font-size:13px;font-weight:400;line-height:1.5em;width:auto;max-width:auto;}.elementor-19 .elementor-element.elementor-element-394b05c > .elementor-widget-container{margin:0px 0px -12px 0px;}.elementor-19 .elementor-element.elementor-element-c9c64b3 .aux-icon-list-icon{color:rgba(255, 255, 255, 0.5);}.elementor-19 .elementor-element.elementor-element-c9c64b3 .aux-icon-list-item{margin:0px 0px 0px 15px;}.elementor-19 .elementor-element.elementor-element-c9c64b3{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-19 .elementor-element.elementor-element-fdee29a > .elementor-element-populated{margin:25px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-19 .elementor-element.elementor-element-a95ef2f{width:40%;}.elementor-19 .elementor-element.elementor-element-a459325{width:25%;}.elementor-19 .elementor-element.elementor-element-8f2ded0{width:35%;}.elementor-19 .elementor-element.elementor-element-fdee29a{width:100%;}}@media(max-width:767px){.elementor-19 .elementor-element.elementor-element-a459325 > .elementor-element-populated{margin:25px 0px 0px 0px;}.elementor-19 .elementor-element.elementor-element-8f2ded0 > .elementor-element-populated{margin:45px 0px 0px 0px;}}/* Start custom CSS for heading, class: .elementor-element-9f931b3 */.elementor-19 .elementor-element.elementor-element-9f931b3 .elementor-heading-title:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
    border-radius: 20px;
    bottom: -5px;
    height: 5px;
    left: 0;
    width: 9px;
    opacity: 0.9;
}
.elementor-19 .elementor-element.elementor-element-9f931b3 .elementor-heading-title:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
    border-radius: 20px;
    bottom: -5px;
    height: 5px;
    left: 15px;
    width: 48px;
}/* End custom CSS */
/* Start custom CSS for aux_modern_heading, class: .elementor-element-d997c45 */.elementor-19 .elementor-element.elementor-element-d997c45 .aux-modern-heading-primary{
    position: relative;
}
.elementor-19 .elementor-element.elementor-element-d997c45 .aux-modern-heading-primary:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
    border-radius: 20px;
    bottom: -5px;
    height: 5px;
    left: 0;
    width: 9px;
    opacity: 0.9;
}
.elementor-19 .elementor-element.elementor-element-d997c45 .aux-modern-heading-primary:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
    border-radius: 20px;
    bottom: -5px;
    height: 5px;
    left: 15px;
    width: 48px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-38e644a */.elementor-19 .elementor-element.elementor-element-38e644a .elementor-heading-title:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
    border-radius: 20px;
    bottom: -5px;
    height: 5px;
    left: 0;
    width: 9px;
    opacity: 0.9;
}
.elementor-19 .elementor-element.elementor-element-38e644a .elementor-heading-title:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #9BE15D 0%, #00D9A6 100%);
    border-radius: 20px;
    bottom: -5px;
    height: 5px;
    left: 15px;
    width: 48px;
}/* End custom CSS */